<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unemployed house</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<style>
    body {
        background-color: #c2a064;
    }
</style>
<body>
<div class="container-fluid text-center">
    <h1>Будинок праці</h1>
    <div><a class="h2" th:href="@{/unemployed}">Список безробітних</a></div>
    <div><a class="h2" th:href="@{/employer}">Список роботодавців</a></div>
    <div><a class="h2" th:href="@{/benefit}">Список виплат</a></div>
    <div><a class="h2" th:href="@{/resume}">Список резюме</a></div>
    <div><a class="h2" th:href="@{/specialty}">Список спеціальностей</a></div>
    <div><a class="h2" th:href="@{/reeducation}">Список перенавчань</a></div>
    <div><a class="h2" th:href="@{/jobs}">Список вакансій</a></div>
</div>
</body>
</html>