<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Unemployed house</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<style>
    body {
        background-color: #c2a064;
    }
</style>
<body>
<div class="container-fluid text-center">
    <div sec:authorize="isAuthenticated()">
        Welcome <b><span sec:authentication="name">Username</span></b>
        &nbsp;
        <span sec:authentication="principal.authorities">Roles</span>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>
    <h1>Будинок праці</h1>
    <div><a class="h2 mt-2" th:href="@{/unemployed}">Список безробітних</a></div>
    <div><a class="h2 mt-2" th:href="@{/employer}">Список роботодавців</a></div>
    <div><a class="h2 mt-2" th:href="@{/benefit}">Список виплат</a></div>
    <div><a class="h2 mt-2" th:href="@{/resume}">Список резюме</a></div>
    <div><a class="h2 mt-2" th:href="@{/specialty}">Список спеціальностей</a></div>
    <div><a class="h2 mt-2" th:href="@{/reeducation}">Список перенавчань</a></div>
    <div><a class="h2 mt-2" th:href="@{/jobs}">Список вакансій</a></div>
    <div><a class="h2 mt-2" th:href="@{/offers}">Список пропозицій</a></div>
</div>
</body>
</html>