<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<style>
    body {
        background-color: #c2a064;
    }
</style>
<body>
<div class="container-fluid">
    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>
    <form th:action="@{/offers/save}" method="post" th:object="${offers}" style="max-width: 550px; margin: 0 auto;">
        <input type="hidden" th:field="*{idOffer}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Дата пропозиції:</label>
                <div class="col-sm-8">
                    <input type="date" th:field="*{dateOffer}" class="form-control" id="datePicker">
                    <script th:if="${pageTitle == 'Додати новий запис'}">
                        document.getElementById('datePicker').valueAsDate = new Date();
                    </script>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Відповідь:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{replyOnOffer}" class="form-control" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Вакансія:</label>
                <div class="col-sm-8">
                    <select th:field="*{jobsOffer}" class="form-control" required>
                        <th:block th:each="jobs : ${listJobs}">
                            <option th:text="${jobs.jobTitle}" th:value="${jobs.idJob}"/>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Безробітний:</label>
                <div class="col-sm-8">
                    <select th:field="*{unemployedOffer}" class="form-control" required>
                        <th:block th:each="unemployed : ${listUnemployed}">
                            <option th:text="${unemployed.fullName}" th:value="${unemployed.idUnemployed}"/>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Зберігти</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Назад</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/offers}]]";
    }
</script>
</body>
</html>