<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Manage Unemployed</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<style>
    body {
        background-color: #c2a064;
    }
</style>
<body>
<div class="container-fluid text-center">
    <div><h2>Список спеціальностей</h2></div>
    <div class="m-2">
        <a sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')" class="h3" th:href="@{/specialty/new}">Додати запис</a>
    </div>
    <form th:action="@{/specialty/searchByWordPart}" method="get">
        <input type="text" name="wordPart" th:value="${wordPart}"  placeholder="Пошук за частиною слова" size="25" >
        <button type="submit" class="btn btn-info" >Знайти</button>
        <button type="button" class="btn btn-secondary" onclick="cancelForm1()">Скинути</button>
    </form>
    <div th:if="${message}" class="alert alert-success text-center mt-2">
        [[${message}]]
    </div>
    <div>
        <table class="table table-bordered mt-2">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Найменування</th>
                <th>Галузь знань</th>
                <th>Шифр галузі</th>
                <th>Код спеціальності</th>
                <th sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="specialty : ${listSpecialty}">
                <tr>
                    <td>[[${specialty.idSpec}]]</td>
                    <td>[[${specialty.specialtyName}]]</td>
                    <td>[[${specialty.fieldOfKnowledge}]]</td>
                    <td>[[${specialty.codeField}]]</td>
                    <td>[[${specialty.specialtyCode}]]</td>
                    <td sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
                        <a class="h4 mr-3" th:href="@{'/specialty/edit/' + ${specialty.idSpec}}">Edit</a>
                        <a sec:authorize="hasAuthority('ADMIN')" class="h4" th:href="@{'/specialty/delete/' + ${specialty.idSpec}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <div class="m-2">
        <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Назад</button>
    </div>
</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/}]]";
    }
</script>
<script type="text/javascript">
    function cancelForm1() {
        window.location = "[[@{/specialty}]]";
    }
</script>
</body>
</html>